<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
	<services>
		<service name="MyLibraryService" behaviorConfiguration="MyLibraryServiceBehavior">
			<endpoint name="" binding="wsHttpBinding" contract="MyServiceLibrary.IMath">
				
			</endpoint>
		</service>
	</services>  
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyLibraryServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
