<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MyServiceLibrary.MyService" behaviorConfiguration="MyServiceLibrary.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_Time_Addresses/MyServiceLibrary/MyService/" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="MyServiceLibrary.IMath">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>  
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		<endpoint address="BasicBinding" binding="basicHttpBinding" contract="MyServiceLibrary.IMath"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
